---
- name: Enable nginx repo.
  template:
    src: percona.repo.j2
    dest: /etc/yum.repos.d/percona.repo
    owner: root
    group: root
    mode: 0644
#  when: "{{ansible_distribution_version|int}} > 0"
  tags:
    - percona

- name: copy the gpgkey key
  copy:
      src=../files/rpm-gpg/RPM-GPG-KEY-Percona
      dest=/etc/pki/rpm-gpg/RPM-GPG-KEY-Percona

